<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name=".SettingActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />-->
<!--&lt;!&ndash;                <category android:name="android.intent.category.LAUNCHER"/>&ndash;&gt;-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <provider-->
<!--            android:name="cn.amamiya.hupublacklist.utils.MultiprocessSharedPreferences"-->
<!--            android:authorities="cn.amamiya.hupublacklist.provider"-->
<!--            android:exported="true" />-->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="虎扑黑名单" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
    </application>

</manifest>